.container-authenticated {
  padding-top:80px;
  width:80%;
  margin:0 auto;
  margin-bottom:160px;
  position:relative;
  i.fa {
    color:black;
    cursor:pointer;
    @include transition(all .5s ease);
    opacity:.5;
    &:hover {
      transform:scale(1.5);
      opacity:1;
    }
  }
  .fa-close {
    &:hover{
      color:$red;
    }
  }
  .fa-th-large {
    &:hover{
      color:$cyan;
    }
  }
  textarea {
    resize:none;
  }

}

.container-addclient {
  width:75%;
}


.client{
  border:thin solid $black;
  padding:20px;
  min-height:400px;
}

.client-new {
  width:760px;
  padding:40px;
  border:thin solid $black;
  box-shadow: 4px 4px 20px rgba($black, .3);
  margin:0 auto;
}
