.container-authenticated {
  padding-top:100px;
  width:80%;
  margin:0 auto;
  margin-bottom:120px;
  position:relative;
  textarea {
    resize:none;
  }

}

.container-addclient {
  width:75%;
}


.client-wrapper{
  transition:all .5s ease;
  border:thin solid $black;
  padding:20px;
  margin-right:20px;
  min-height:400px;
  background-color:white;
  margin-bottom:30px;
  border:thin solid $black;
  box-shadow: 4px 4px 20px rgba($black, .3);
  position:relative;
  .client-controls {
    margin:0 auto;
    display:inline-block;
    width:88%;
    position:absolute;
    bottom:20px;
    text-align:center;
    button{
      width:100%;
    }

  }
  .client-info {

  }
}

.client:nth-child(4n+4){
  margin-right:0px;
}

.client-new {
  background-color:white;
  width:760px;
  padding:40px;
  border:thin solid $black;
  box-shadow: 4px 4px 20px rgba($black, .3);
  margin:0 auto;
}
