////Black, white, gray
$white:      #FEFEFA; //Baby Powder, green tint
$black:      #343434; //Jet Black
$gray-dark:  #333333;
$gray-light: #F5F5F5; //white smoke
$gray-med:   lighten($gray-dark, 10%);
$red:        #962D3E;
$cyan:       #29D4E8;
$tan:        #F2EBC7;
