////Black, white, gray
$white:      #FEFEFA; //Baby Powder, green tint
$black:      #343434; //Jet Black
$gray-dark:  #333333;
$gray-light: #F5F5F5; //white smoke
$gray-med:   lighten($gray-dark, 10%);
$red:        #DF5A49;
$orange:     #E27A3F;
$yellow:     #EFC94C;
$blue:       #334D5C;
$teal:       #45B29D;
$tan:        #F2EBC7;
