.chart-wrapper {
  padding:10px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:white;
  border-radius:4px;
  min-height:250px;
  box-shadow: 4px 4px 20px rgba($black, .3);
  border:thin solid $black;
}

.chart {
  text-align:center;

}

.glance-wrapper {
  padding:20px;
  min-height:none;
}
