.container-dashboard {
  padding-top:120px;
  width:80%;
  margin:0 auto;
  h2 {
    text-align:left;
  }
  .row {
    margin-left:0px;
    margin-right:0px;
  }
}

.dashboard-wrapper {
/*   border:thin solid $black;
box-shadow: 4px 4px 20px rgba($black, .3); */
  padding:40px;
}
