.document {
  width:600px;
  border:thin solid $gray-med;
  border-radius:2px;
  padding:60px;
  margin:0 auto;
  margin-top:40px;
  margin-bottom:40px;
  box-shadow: 8px 8px 20px rgba($gray-med, .2);
  ul {
    padding-left:40px;
    list-style-type:circle;
    li {
      margin-bottom:10px;
    }
  }
  h3,h4 {
    font-weight:bold;
  }
  h4 {
    color:$gray-med;
  }
}
