.document {
  width:600px;
  border:thin solid $gray-med;
  border-radius:2px;
  padding:60px;
  margin:0 auto;
  margin-top:40px;
  margin-bottom:40px;
  box-shadow: 8px 8px 20px rgba($gray-med, .2);
  ul {
    padding-left:40px;
    list-style-type:circle;
    li {
      margin-bottom:10px;
    }
  }
  h3,h4 {
    font-weight:bold;
  }
  h4 {
    color:$gray-med;
  }
}

.contract-wrapper {
  h5 {
    font-weight:bold;
  }
}


.docoptions-wrapper {
  border-radius:4px;
  padding:40px;
  padding-top:0px;
  .form-group {
    display:inline-block;
    vertical-align:middle;
    width:24%;
    margin-bottom:2px;
  }
  label {
    width:80%;
  }

}

.options-contract,
.options-estimate {
  position:relative;
  padding-top:10px;
  .docubut-wrapper {
    position:absolute;
    top:10px;
    right:0px;
  }
}
