.header-image {
  background-image:url('../images/devdesk.jpeg');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center center;
  height:100vh;
  width:100%;
  position:relative;
  .caption{
    margin:0 auto;
    padding-top:30vh;
    color:white;
    text-align:center;
    width:50%;
    text-shadow: 4px 4px 10px rgba(0,0,0,.6);
    h1 {
      margin-bottom:20px;
      font-weight:bold;
    }
    h2 {
      margin-bottom:20px;
    }
  }

  .scroll-button {

  }
}




.container-features {
  text-align:center;
  h2{
    margin-top:80px;
  }
}
.feature-list {
  padding-left:20px;
  padding-right:20px;
  margin-top:40px;
  margin-bottom:80px;
  .feature {
    text-align:center;
    i.fa {
      margin-bottom:40px;
    }
    .feature-text {
      text-align:left;
    }
  }
}




.cta-stats {
  height:50vh;
  background-color: $black;
  background-image:url('../images/screenshot.png');
  background-position: 50% 130%;
  background-size:contain;
  background-attachment:fixed;
  position:relative;
  z-index:0;
  padding-top:15vh;
  h4 {
    font-size:36px;
    z-index:1000;
    color:$white;
    text-shadow: 4px 4px 10px rgba(0,0,0,.6);
  }
  .caption{
    display:inline-block;
    margin: 0 auto;
    width:50%;
    margin-top:10vh;
    color:white;
    border-radius:4px;
    padding:20px;
    background-color:$black;
    .but {
      display:inline-block;
    }
  }
  .btno-first{
    margin-right:40px;
  }
  .btno {
    display:inline-block;
  }
  .caption-text {
    z-index:10000;
    display:block;
  }
}

.overlay {
  z-index:-100;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  position:absolute;
  background-color:rgba($teal,.7);
}

.popover-tracker {
  width:400px;
  text-transform:none;
  font-family:'Raleway', sans-serif;
}

.timer {
  margin-bottom:10px;
  cursor:text;
}

.time-track-buttons{
  margin-top:10px;
}

.container-features {
  i.fa {
    color:$teal;
    margin-bottom:10px;
  }
}

footer {
  min-height:300px;
  color:$white;
  background-color:$black;
  padding:100px;
  a {
    transition:all .3s ease;
    color:$teal;
    &:hover {
      color:$white;
    }
  }
}
