nav {
  width:100%;
  height:80px;
  position:fixed;
  background-color:rgba(255,255,255,0);
  z-index:100;
  @include transition(all .5s ease);
  .logo {
    float:left;
    margin-left:10%;
    color:$white;
    cursor:pointer;
    @include transition(all .5s ease);
    a:visited {
      color:$white;
    }
  }
  ul{
    width:50%;
    margin: 0 auto;
    text-align:right;
    float:right;
    margin-top:30px;
    margin-right:40px;
    @include transition(all .5s ease);
  }
  li {
    vertical-align:middle;
    display:inline-block;
    text-align:center;
    position:relative;
    margin-right:10%;
    @include transition(all .5s ease);
    &:last-child {
      margin-right:0;
    }
    a {
      @extend .font-header;
      text-transform:lowercase;
      font-weight:400;
      font-size:24px;
      display:inline-block;
      color:$white;
      @include transition(all .5s ease);
      &:hover{
        color:$white;
      }
      &:focus {
        text-decoration:none;
        color:$white;
        outline:none;
      }
    }

    a:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -4px;
      left: 0;
      background-color:$white;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      @include transition(all .3s ease-in-out);
    }
    a:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
}

.fixednav {
  background-color:rgba(255,255,255,0.95);
  height:60px;
  span.logo{

    color:$black;
    a:visited{
      color:$black;
    }
    h1 {
      margin-top:10px;
    }
  }
  ul {
    margin-top:20px;
  }
  li {
    margin-bottom:20px;
    a {
      color:$black;
      font-size:16px;
      &:hover {
        color:$black;
      }
    }
  }
  a:before{
    background-color:$black;
    height:1px;
  }
}
