//
.project {
  padding:40px;
  border:thin solid $black;
  border-radius:4px;
  position:relative;
  margin-bottom:40px;
  h3 {
    margin-top:10px;
    color:$black;
    small{
      color:gray;
    }
  }
}

.project-controls {
  position:absolute;
  right:40px;
  top:20px;
  i.fa:first-child{
    margin-right:10px;
  }
}



//Table view stuff
td {
  transition:all .5s ease;

}

.deliv-comp > td {
  background-color:lighten(green,60%);
}

.complete-col, .hours-col {
  text-align:center;
  input{
    width:60px;
  }
}

.desc-col {
  width:40%;
}

.project-search {
  position:absolute;
  top:100px;
  right:0px;
  width:200px;
}

.sent {
  color:green;
}
.not-sent {
  color:red;
}

//Add a project
.project-new {
  width:760px;
  padding:40px;
  border:thin solid $black;
  box-shadow: 4px 4px 20px rgba($black, .3);
}

.form-control{
  input:first-child{
    width:40%;
  }
  input {
    width:15%;
  }

}
