.profile {
  padding:40px;
  border:thin solid $black;
  box-shadow: 4px 4px 20px rgba($black, .3);
  border-radius:4px;
  background-color:white;
}

.form-inline .form-rates {
  label {
    width:40%;

  }
  input {
    width:50%;
  }
}
