* {
  box-sizing:border-box;
}

body {
  margin:0;
  padding:0;
  height:2000px;
  position:relative;
}

a{
  &:hover{
    text-decoration:none;
  }
  &:focus {
    text-decoration:none;
    color:$white;
    outline:none;
  }
}
