

.page-content {
  @include transition(all .5s ease);
  position:relative;
  margin:0 auto;
  color:#333;
  h1{
    font-weight:400;
  }
  h1, h3, h4 {
    text-align:left;
  }
  h4 {
    color:lighten(#333, 30%);
  }
  p {
    text-align:left;
  }
  img{
    max-width:100%;
    max-height:400px;
    margin-top:20px;
    margin-bottom:20px;
  }
}

.toggle {
  @include position(fixed, 10px 0 0 20px);
  transition:all .5s ease;
  z-index:100;
  font-size:30px;
  color:black;
  width:30px;
  height:30px;
  cursor:pointer;
  &:hover{
    color:$teal;
  }
}

.sidebar {
  transition: all .5s ease;
  @include position(fixed, 0px 0 0px -260px);
  width:240px;
  padding:30px;
  background:#333;
  color:white;
  z-index:100;
  box-shadow: 04px 0px 20px rgba($black, .3);
  ul{
    list-style-type:none;
    margin:0;
    padding:0;
    padding-top:10px;
    padding-bottom:10px;
    border-bottom:2px solid lighten($black, 10%);
  }

  li {
    text-transform:uppercase;
    opacity:.5;
    cursor:pointer;
    color:gray;
    &:hover {
      opacity:1;
    }
    a {
      color:gray;
      transition:all .3s ease-in;
      &:hover{
        color: $teal;
      }
    }
  }
}


//Actual Menu move
#sidebartoggler {
  display:none;
  &:checked + .page-wrapper{

    .sidebar {
      left:0px;
    }

    .toggle {
      left:260px;
    }

    .page-content{

    }
  }
}
