<div class="header-image">
  <div class="caption">
    <h1>spend more time developing.</h1>
    <h2>less time managing.</h2>
    <div class="but btn-portfolio"  ng-click="navCtrl.goTo('signup')">sign up</div>
  </div>
</div>
<div class="container-fluid container-features">
  <h2>features:</h2>
  <div class="row feature-list">
    <div class="col-sm-6 col-md-3 feature">
      <i class="fa fa-3x fa-beer"></i>
      <p class="feature-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam repellendus assumenda, similique debitis atque voluptate deleniti fugiat blanditiis numquam officiis praesentium, quae fugit adipisci, exercitationem porro doloremque molestiae voluptates ipsum!
      </p>
    </div>
    <div class="col-sm-6 col-md-3 feature">
      <i class="fa fa-3x fa-calendar"></i>
      <p class="feature-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, odio saepe natus, distinctio vel et repellendus, dicta totam inventore ab autem commodi maiores, aspernatur tempore quia ratione fugit quos laudantium!
      </p>
    </div>
    <div class="col-sm-6 col-md-3 feature">
      <i class="fa fa-3x fa-heart"></i>
      <p class="feature-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur magni eius provident officiis, expedita odit quis, molestias, inventore sit repudiandae eveniet. At suscipit, obcaecati eveniet dolore, nihil error fuga ipsam.
      </p>
    </div>
    <div class="col-sm-6 col-md-3 feature">
      <i class="fa fa-3x fa-user"></i>
      <p class="feature-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque recusandae, fugit! Reprehenderit sequi exercitationem eligendi neque laudantium, ipsum adipisci. Consectetur iure quos, sapiente amet, optio explicabo eligendi qui repudiandae.
      </p>
    </div>
  </div>
  <div class="row cta-marketing">

  </div>
</div>
