<div class="header-image">
  <div class="caption">
    <h1>spend more time developing.</h1>
    <h2>less time managing.</h2>
    <div class="btno btno-primary btno-home "  ng-click="navCtrl.goTo('signup')">sign up</div>
  </div>
</div>
<div class="container-fluid container-features">
  <h2>devdesk features:</h2>
  <div class="row feature-list">
    <div class="col-md-4">
      <i class="fa fa-3x fa-file-text-o"></i>
      <p class="feature-text">
        <p><b>Dev Desk</b> generates common project documents like estimates, contracts, and invoices and then email them to your clients straight from devdesk.</p>
        <p>Got a client with an overflowing inbox? Send a reminder and be the straw that breaks the camel's back.</p>
      </p>
    </div>
    <div class="col-md-4">
      <i class="fa fa-3x fa-clock-o"></i>
      <p class="feature-text">
        <p>Instead of tracking time with a separate application, <b>Dev Desk</b> features a timer where you simply select your project, select the task, and click start.</p>
        <p>Never worry about tracking deliverables via messy spreadsheets and or handwritten notes -- spend less time managing your project and more time <i>working</i> on it!</p>
      </p>
    </div>
    <div class="col-md-4">
      <i class="fa fa-3x fa-users"></i>
      <p class="feature-text">
        <p>Manage all your clients in one place with <b>Dev Desk</b></p>
        <p>No longer spend time searching through your inbox for a client's name, phone number, or email. With <b>Dev Desk</b>, you clients are literally at your fingertips.</p>
      </p>
    </div>
  </div>
  <div class="row cta-stats">
    <div class="overlay">
      ...
    </div>
      <h4 class="caption-text">
        Track all your stats in one place with Dev Desk's dashboard and client stats!
      </h4>
      <div class="btno btno-info btno-home btno-first"  ng-click="navCtrl.goTo('signup')">Sign up</div>
      <div class="btno btno-info btno-home"  ng-click="navCtrl.goTo('login')">Login</div>
  </div>
</div>

</div>
<footer>
  <div class="row">
    <div class="text-center">
      <p>Dev Desk was built with a whole lotta <i class="fa fa-heart"></i> and equal amounts of <i class="fa fa-beer"></i> by <a href="http://github.com/brentoneill">Brent O'Neill.</a></p>
       <p>Wanna hack on Dev Desk? Head on over to the <a href="https://github.com/brentoneill/devdesk">repo</a> and get to <i class="fa fa-code-fork"></i>'n!</p>
    </div>
  </div>
</footer>
