<div ng-controller="NavbarController as navCtrl">
  <nav id="top-nav">
      <span class="logo">
        <h2 ng-click="navCtrl.goTo('')"><i class="fa fa-code"></i> devdesk</h2>
      </span>
      <ul ng-if="!isAuthenticated()">
        <li><a href="/#/login" rel="when">Login</a></li>
        <li><a href="/#/signup" rel="where">Sign Up</a></li>
      </ul>
      <ul ng-if="isAuthenticated()">
        <li>
          <a href="">
<!--             <i class="fa fa-2x fa-clock-o"
  template="/home/tpls/tracktime.tpl.html"
  container="body"
  bs-aside="aside">
</i> -->
            <i class="fa fa-2x fa-clock-o"
                template="/home/tpls/tracktimepopover.tpl.html"
                placement="bottom-right"
                bs-popover>

            </i>
          </a>
        </li>
        <li><a href="/#/logout">Logout</a></li>
        <li><a href="/#/profile">Profile</a></li>
      </ul>
    </nav>
</div>
