

<input type="checkbox" id="sidebartoggler">

<div class="page-wrapper">

  <label class="toggle" for="sidebartoggler">☰</label>

  <div class="sidebar">
    <h4>Hi, {{user.displayName}}!</h4>
    <ul>
      <li><a href="/#/dashboard">Dashboard</a></li>
      <li><a href="/#/clients/new">Add client</a></li>
      <li><a href="/#/projects/new">Add project</a></li>
    </ul>
    <ul>

      <li><a href="/#/clients">View clients</a></li>
      <li><a href="/#/projects">View projects</a></li>
    </ul>
    <ul>
      <li><a href="/#/profile">Edit profile</a></li>
      <li><a href="/#/developer-map">Dev Map</a></li>
    </ul>
  </div>


  <div class="page-content">

    <div class="container-authenticated">
      <h2><i class="fa fa-users"></i> {{cliCtrl.client.name}} <small>client since {{cliCtrl.client.sinceDate | date:'mediumDate'}}</small></h2>
        <div class="row">
          <div class="col-md-4">
            <h3>Contact Info</h3>
            <div class="client-wrapper client-detail animated slideInLeft">
              <div class="client-edit-button-wrapper">
                <i class="fa fa-2x fa-pencil" ng-click="cliCtrl.enableClientEdit()"></i>
              </div>
              <div class="client-contact-info" ng-if="!clientEditEnabled">
                  <p><i class="fa fa-envelope"></i> <a href="mailto:{{cliCtrl.client.email}}">{{cliCtrl.client.email}}</a></p>
                  <p><i class="fa fa-phone"></i> {{cliCtrl.client.phone}}</p>
                  <p><i class="fa fa-building"></i> {{cliCtrl.client.street}}</p>
                  <p>&nbsp;&nbsp;&nbsp;&nbsp; {{cliCtrl.client.city}}, {{cliCtrl.client.state}} {{cliCtrl.client.zip}}</p>
                  <p><i class="fa fa-file-text"></i> {{cliCtrl.client.notes}}</p>
              </div>
              <div class="client-edit" ng-if="clientEditEnabled">
                <p>Edit contact info</p>
                <input type="text" class="form-control" ng-model="cliCtrl.client.email">
                <input type="text" class="form-control" ng-model="cliCtrl.client.phone">
                <input type="text" class="form-control" ng-model="cliCtrl.client.street">
                <input type="text" class="form-control" ng-model="cliCtrl.client.city">
                <input type="text" class="form-control" ng-model="cliCtrl.client.state">
                <input type="text" class="form-control" ng-model="cliCtrl.client.zip">
                <textarea class="form-control" ng-model="cliCtrl.client.notes"></textarea>
                <button class="btn-fw btno btno-primary" ng-click="cliCtrl.editClient(cliCtrl.client)">
                  <i class="fa fa-pencil"></i> Submit Edit
                </button>
              </div>
            </div>
            <h3>At a Glance</h3>
            <div class="client-wrapper animated slideInUp">
              <div class="row">
                <div class="col-md-6 col-sm-6 client-stats">
                  <h4>Average Project Amount</h4>
                  <p><b>{{cliCtrl.avgProjectCost | currency:undefined:0}}</b></p>
                </div>
                <div class="col-md-6 col-sm-6 client-stats">
                  <h4>Average Project Hrs</h4>
                  <p><b>{{cliCtrl.avgProjectHours | number:2}} hrs</b></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6 client-stats">
                  <h4>Total Projects Amount</h4>
                  <p><b>{{cliCtrl.totalProjectsCost | currency:undefined:0}}</b></p>
                </div>
                <div class="col-md-6 col-sm-6 client-stats">
                  <h4>Total Billable Hrs</h4>
                  <p><b>{{cliCtrl.totalProjectsHours | number:2}} hrs</b></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <h3>Projects <small>{{cliCtrl.cliProjects.length}} total</small></h3>
            <div class="client-wrapper client-project-list animated slideInDown">
                <table class="table table-striped">
                  <thead class="client-detail-headers">
                    <th>Name</th>
                    <th>Est. Hrs</th>
                    <th>Est. Cost</th>
                    <th>Real Hrs</th>
                    <th>Real Cost</th>
                    <th>% of budget</th>
                  </thead>
                  <tbody>
                    <tr ng-repeat="project in cliCtrl.cliProjects">
                      <td>{{project.name}}</td>
                      <td class="hours-col">{{project.totalHrs}}</td>
                      <td class="hours-col">{{project.estCostTotal | currency:undefined:0}}</td>
                      <td class="hours-col">{{project.totalRealHrs}}</td>
                      <td class="hours-col">{{project.realCostTotal | currency:undefined:0}}</td>
                      <td class="hours-col">{{project.realCostTotal / project.estCostTotal | percentage:0}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <h3>Deliverable Activity for the last 7 days</h3>
              <div class="client-wrapper animated slideInRight">
                <canvas id="radar" class="chart chart-radar"
                  data="cliCtrl.delivGraphData"
                  labels="cliCtrl.delivGraphLabels"
                  series="cliCtrl.delivGraphSeries"
                  legend="true">
                </canvas>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
