<div class="container-authenticated">

  <input type="checkbox" id="sidebartoggler">

  <div class="page-wrapper">

    <label class="toggle" for="sidebartoggler">☰</label>

    <div class="sidebar">
      <h4>Hi, {{user.displayName}}!</h4>
      <ul>
        <li><a href="/#/dashboard">Dashboard</a></li>
        <li><a href="/#/clients/new">Add client</a></li>
        <li><a href="/#/projects/new">Add project</a></li>
      </ul>
      <ul>

        <li><a href="/#/clients">View clients</a></li>
        <li><a href="/#/projects">View projects</a></li>
      </ul>
      <ul>
        <li><a href="/#/profile">Edit profile</a></li>
        <li><a href="/#/developer-map">Dev Map</a></li>
      </ul>
    </div>
    <div class="page-content">
      <div class="client-new">
        <div class="row">
          <h2 class="page-header">Add a client</h2>
          <div class="col-md-6">
            <div class="form-group">
              <label for="cName">Client Name:</label>
              <input class="form-control" type="text" name="nName" data-ng-model="client.name" placeholder="Name">
            </div>
            <div class="form-group">
              <label for="cName">Contact Name:</label>
              <input class="form-control" type="text" name="nName" data-ng-model="client.contactName" placeholder="Name">
            </div>
            <div class="form-group">
              <label for="cEmail">Website:</label>
              <input class="form-control" type="text" name="cWeb" data-ng-model="client.website" placeholder="Website">
            </div>
            <div class="form-group">
              <label>Client Since:</label>
              <input type="text" class="form-control" autoclose="true" data-date-format="mediumDate" placeholder="Click to select a date" ng-model="client.sinceDate" bs-datepicker>
            </div>
            <div class="form-group">
              <label>Client Notes:</label>
              <textarea class="form-control" rows="5" name="cZip" data-ng-model="client.notes" placeholder="Notes"></textarea>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="cPhone">Phone Number:</label>
              <input id="phonenumber" class="form-control" type="text" name="cPhone" data-ng-model="client.phone" placeholder="Phone Number" format-phone>
            </div>
            <div class="form-group">
              <label for="cEmail">Email:</label>
              <input class="form-control" type="text" name="cEmail" data-ng-model="client.email" placeholder="Email">
            </div>
<!--             <div class="form-group">
  <label><i class="fa fa-home"></i> Address <small>(async via maps.googleapis.com)</small>
  </label>
  <input type="text" class="form-control" ng-model="client.address" data-animation="am-flip-x" ng-options="address.formatted_address as address.formatted_address for address in getAddress($viewValue)" placeholder="Enter address" bs-typeahead>
</div> -->

            <div class="form-group">
              <label for="cStreet">Street Address:</label>
              <input class="form-control" type="text" name="cAddressl" data-ng-model="client.street" placeholder="Street Address">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="cCity" data-ng-model="client.city" placeholder="City">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="cState" ng-options="state for state in states"data-ng-model="client.state" placeholder="State">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="cZip" data-ng-model="client.zip" placeholder="Zip">
            </div>

            <div class="form-group">
              <button class="btno btno-fw btno-primary" data-ng-click="cliCtrl.createClient(client)"><i class="fa fa-user-plus"></i> &nbsp;Add Client</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
