<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete this Invoice?</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this invoice?</p>
        <p>...when it goes, it will stay gone!</p>
      </div>
      <div class="modal-footer">
        <button class="btno btno-danger btno-modal" ng-click="projCtrl.deleteInvoice(projCtrl.project, $index); $hide()">
          Yes, trash it.
        </button>
        <button class="btno btno-primary btno-modal" ng-click="$hide()">
          Nevermind then!
        </button>
      </div>
    </div>
  </div>
</div>
