<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Remove this project</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to remove this project?</p>
        <p>...when it goes, it will stay gone!</p>
      </div>
      <div class="modal-footer">
        <button class="btno btno-danger btno-modal" ng-click="projCtrl.deleteProject(project); $hide()">
          Yes, let it go.
        </button>
        <button class="btno btno-info btno-modal" ng-click="$hide()">
          Nevermind then!
        </button>
      </div>
    </div>
  </div>
</div>
