

<input type="checkbox" id="sidebartoggler">

<div class="page-wrapper">

  <label class="toggle" for="sidebartoggler">☰</label>

  <div class="sidebar">
    <h4>Hi, {{user.displayName}}!</h4>
    <ul>
      <li><a href="/#/devflow"></a>Start a new Devflow</a></li>
    </ul>
    <ul>
      <li><a href="/#/dashboard">Dashboard</a></li>
      <li><a href="/#/clients/new">Add client</a></li>
      <li><a href="/#/projects/new">Add project</a></li>
    </ul>
    <ul>

      <li><a href="/#/clients">View clients</a></li>
      <li><a href="/#/projects">View projects</a></li>
    </ul>
    <ul>
      <li><a href="/#/profile">Edit profile</a></li>
      <li><a href="/#/developer-map">Dev Map</a></li>
    </ul>
  </div>


  <div class="page-content">

    <div class="container-authenticated">
      <div class="content-wrapper">
        <h2 class="page-header">Project HQ <small>{{projCtrl.project.name}}</small>
          <button class="btn btn-warning pull-right" ng-click="projCtrl.goToDocuments(projCtrl.project)">
            <i class="fa fa-file-text-o"></i> Document Center
          </button>
        </h2>
        <div class="row project-info">
          <div class="col-md-8 col-sm-8">
            <p><b>Description: </b>{{projCtrl.project.description}}</p>
            <p><b>Project Goals: </b></p>
            <p>{{projCtrl.project.goal}}</p>

          </div>
         <div class="col-md-4 col-sm-4 project-client-info">
           <h4><b>Project Documents Status:</b></h4>
           <p ng-if="projCtrl.project.contractAccepted === 'yes'" class="sent"><b>Contract accepted!</b></p>
           <p ng-if="projCtrl.project.estimateAccepted === 'yes'" class="sent"><b>Estimate accepted!</b></p>
           <div class="project-client-info-wrapper">
             <p><b>Start Date:</b> {{projCtrl.project.startdate | date : format : mediumDate}}</p>
             <p><b>Deadline:</b> {{projCtrl.project.enddate | date : format : mediumDate}}</p>
             <p><a href="" ng-click="projCtrl.viewClientDetail(projCtrl.project.client._id)"><i class="fa fa-user">&nbsp;&nbsp;</i>{{projCtrl.project.client.name}}</a> <a href="projCtrl.project.client.website">{{projCtrl.project.client.website}}</a></p>
             <p><i class="fa fa-envelope"></i>&nbsp;&nbsp; <a href="mailto:{{projCtrl.project.client.email}}">{{projCtrl.project.client.email}}</a></p>
             <p><i class="fa fa-phone"></i>&nbsp;&nbsp; {{projCtrl.project.client.phone | tel}}</a></p>
           </div>
         </div>
       </div>
       <h4>Deliverables - {{projCtrl.project.totalDel}} tasks, {{projCtrl.project.hrsRemaining}} hrs remaining</h4>
       <div ng-controller="ProgressbarController">
         <progressbar class="progress-striped active" max="100" value="((projCtrl.project.totalHrs - projCtrl.project.hrsRemaining)*100) / max" type="success">{{projectStatus}}</progressbar>
       </div>
<!--        <timer interval="1000" autostart>{{hours}} hour{{hoursS}}, {{minutes}} minute{{minutesS}}, {{seconds}} second{{secondsS}}.</timer>
        <div><button ng-click="startTimer()" class="btn btn-success">
           Start
         </button>
         <button class="btn btn-danger" ng-click="stopTimer()">
           Stop
         </button>
     </div> -->
       <table class="table table-bordered table-deliverables">
          <thead>
            <tr>
              <th class="complete-col">#</th>
              <th class="desc-col">Name</th>
              <th class="hours-col">Hours (est)</th>
              <th class="hours-col">Cost (est)</th>
              <th class="hours-col">Hours (real)</th>
              <th class="hours-col">Cost (real)</th>
              <th class="hours-col">Velocity</th>
              <th class="complete-col">Estimated?</th>
              <th class="complete-col"><i class="fa fa-check"></i></th>
              <th class="complete-col"><i class="fa fa-clipboard"></i></th>
              <th class="complete-col"><i class="fa fa-money"></i></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-class="{'d-estimated' : deliverable.inEstimate =='yes', 'd-completed' : deliverable.complete =='yes', 'd-invoiced' : deliverable.invoiced=='yes', 'd-paid' : deliverable.paid =='yes'}" class="table-item" ng-repeat="deliverable in projCtrl.project.deliverables">
              <td class="complete-col">{{$index + 1}}</td>
              <td class="desc-col">{{deliverable.name}}</td>
              <td class="hours-col">{{deliverable.hours}}</td>
              <td class="hours-col">{{deliverable.cost | currency}}</td>
              <td class="hours-col form-inline"><input min="0" ng-change="projCtrl.updateDeliverable(projCtrl.project, deliverable)" class="form-control input-thin input-num" type="number" ng-model="deliverable.realHrs" ng-disabled="deliverable.complete =='yes'"></td>
              <td class="hours-col">{{deliverable.realCost | currency}}</td>
              <td class="hours-col">{{deliverable.velocity | percentage:0}}</td>
              <td class="complete-col"><input type="checkbox" disabled ng-model="deliverable.inEstimate" ng-true-value="'yes'" ng-false-value="'no'"></td>
              <td class="complete-col"><input type="checkbox" tabindex="-1" ng-click="projCtrl.completeDeliverable(projCtrl.project, deliverable)" ng-model="deliverable.complete" ng-true-value="'yes'" ng-false-value="'no'"></td>
              <td class="complete-col"><input type="checkbox" disabled tabindex="-1" ng-click="projCtrl.updateDeliverable(projCtrl.project, deliverable)" ng-model="deliverable.invoiced" ng-true-value="'yes'" ng-false-value="'no'"></td>
              <td class="complete-col"><input type="checkbox" ng-disabled="deliverable.invoiced == 'no'" ng-click="projCtrl.paidDeliverable(projCtrl.project, deliverable)" ng-model="deliverable.paid" ng-true-value="'yes'" ng-false-value="'no'"></td>
<!--               <td class="complete-col">
  <button class="btn btn-danger"
    ng-click="projCtrl.setDeliverable(deliverable);"
    data-animation="am-fade-and-scale"
    data-placement="center"
    keyboard="true"
    backdrop = "static"
    template="projects/modals/tracktime.tpl.html"
    bs-modal="modal">

    <i class="fa fa-clock-o"></i>
  </button>
</td> -->
            </tr>
            <tr class="row-totals">
              <td></td>
              <td><b>Total:</b></td>
              <td>{{projCtrl.project.totalHrs}} hrs</td>
              <td>{{projCtrl.project.estCostTotal | currency}}</td>
              <td>{{projCtrl.project.totalRealHrs}} hrs</td>
              <td>{{projCtrl.project.realCostTotal | currency}}</td>
              <td>{{projCtrl.project.velocityAvg | percentage:2}}</td>
              <td>{{projCtrl.project.delivsEstimated}}</td>
              <td>{{projCtrl.project.delivsCompleted}}</td>
              <td>{{projCtrl.project.delivsInvoiced}}</td>
              <td>{{projCtrl.project.delivsPaid}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
