

<input type="checkbox" id="sidebartoggler">

<div class="page-wrapper">

  <label class="toggle" for="sidebartoggler">☰</label>

  <div class="sidebar">
    <h4>Hi, {{user.displayName}}!</h4>
    <ul>
      <li><a href="/#/devflow"></a>Start a new Devflow</a></li>
    </ul>
    <ul>
      <li><a href="/#/dashboard">Dashboard</a></li>
      <li><a href="/#/clients/new">Add client</a></li>
      <li><a href="/#/projects/new">Add project</a></li>
    </ul>
    <ul>

      <li><a href="/#/clients">View clients</a></li>
      <li><a href="/#/projects">View projects</a></li>
    </ul>
    <ul>
      <li><a href="/#/profile">Edit profile</a></li>
      <li><a href="/#/developer-map">Dev Map</a></li>
    </ul>
  </div>


  <div class="page-content">
    <div class="container-authenticated">
      <div class="content-wrapper">
        <h2 class="page-header">Document Center <small>{{projCtrl.project.name}}</small>
          <button ng-click="projCtrl.viewProjectDetail(projCtrl.project._id)" class="btn btn-warning pull-right">
            <i class="fa fa-home"></i>
            Project Home
          </button>
        </h2>
        <p><i class="fa fa-user"></i><a href="" ng-click="projCtrl.viewClientDetail(projCtrl.project.client._id)"> {{projCtrl.project.client.name}}</a></p>
        <div bs-active-pane="0" bs-tabs>

          <div title="Contract" bs-pane>
            <div class="document-options">
              <p ng-if="projCtrl.project.contractSent" class="contract-alert">
                Looks like you sent a contract to your client on {{projCtrl.project.contractSendDate | date:'fullDate'}}.
                <p>
                  Would you like to send a reminder? Click 'Send Reminder' above.
                  You have sent the a total of {{projCtrl.project.contract.reminders.length}} reminders on the following dates:
                  <ul>
                    <li data-ng-repeat="reminder in projCtrl.project.contract.reminders">
                      {{reminder.dateSent | date:'longDate'}}
                    </li>
                  </ul>
                </p>
              </p>
              <div class="docubut-wrapper">
                <button class="btn btn-success" ng-click="projCtrl.createContract(projCtrl.project)" ng-disabled="projCtrl.project.contractCreated == 'yes'">Generate Contract</button>
                <button class="btn btn-warning btn-docusend" ng-click="projCtrl.emailContract(projCtrl.project)" ng-disabled="projCtrl.project.contractSent || projCtrl.project.contractCreated == 'no'"  data-placement="top-right" title="Contract emailed!"
                  data-content="A copy of the contract you generated as been sent to your client. Cheers!"
                  data-trigger="click"
                  data-auto-close="1"
                  bs-popover>Email copy to client</button>
                <button class="btn btn-info btn-reminder" ng-disabled="!(projCtrl.project.contractSent)" ng-click="projCtrl.sendReminder(projCtrl.project, 'contract')" data-placement="top-right" title="Reminder Sent!"
                  data-content="You have sent your client a reminder to sign your contract. Solid."
                  data-trigger="click"
                  data-auto-close="1"
                  bs-popover>
                  Send reminder
                </button>
              </div>
              <h4>Sections to include in contract:</h4>
              <div class="document-options-wrapper">
                <div class="form-group">
                  <label for="cDesign">Design:</label>
                  <input id="cDesign" type="checkbox" ng-model="contractinc.design" ng-init="contractinc.design=true" />
                </div>
                <div class="form-group">
                  <label for="cText">Text Content:</label>
                  <input id="cText" type="checkbox" ng-model="contractinc.textcontent" ng-init="contractinc.textcontent=true"/>
                </div>
                <div class="form-group">
                  <label for="cTechsupp">Tech Support:</label>
                  <input id="cTechsupp" type="checkbox" ng-model="contractinc.techsupp" ng-init="contractinc.techsupp=true"/>
                </div>
                <div class="form-group">
                  <label for="cChanges">Revisions:</label>
                  <input id="cChanges" type="checkbox" ng-model="contractinc.changes" ng-init="contractinc.changes=true"/>
                </div>
                <div class="form-group">
                  <label for="cCopyrights">Copyrights: </label>
                  <input id="cCopyrights" type="checkbox" ng-model="contractinc.copyrights" ng-init="contractinc.copyrights=true" />
                </div>
                <div class="form-group">
                  <label for="cLegal">Legal: </label>
                  <input id="cLegal" type="checkbox" ng-model="contractinc.legal" ng-init="contractinc.legal=true"/>
                </div>
                <div class="form-group">
                  <label for="cTesting">Testing:</label>
                  <input id="cTesting" type="checkbox" ng-model="contractinc.browsertest" ng-init="contractinc.browsertest=true"/>
                </div>
              </div>
            </div>
            <ng-include ng-if="projCtrl.project.contractCreated == 'yes'" class="contract" src="'projects/views/docs/contract.html'"></ng-include>
          </div>

          <div title="Estimate" bs-pane>
            <div class="document-options">
              <p ng-if="projCtrl.project.estimateSent" class="estimate-alert">
                Looks like you sent a contract to your client on {{projCtrl.project.contractSendDate | date:'fullDate'}}.
                <p>
                  Would you like to send a reminder? Click 'Send Reminder' above.
                  You have sent the a total of {{projCtrl.project.estimate.reminders.length}} reminders on the following dates:
                  <ul>
                    <li data-ng-repeat="reminder in projCtrl.project.estimate.reminders">
                      {{reminder.dateSent | date:'longDate'}}
                    </li>
                  </ul>
                </p>
              </p>
              <div class="docubut-wrapper">
                <button class="btn btn-success" ng-click="projCtrl.createEstimate(projCtrl.project)" ng-disabled="projCtrl.project.estimateCreated == 'yes'">Generate Estimate</button>
                <button class="btn btn-warning email-document"
                  ng-click="projCtrl.emailEstimate(projCtrl.project)"
                  ng-disabled="projCtrl.project.estimateSent || projCtrl.project.estimateCreated == 'no'"
                  data-placement="top-right"
                  title="Estimate emailed!"
                  data-content="A copy of the estimate you generated as been sent to your client. Cheers!"
                  data-trigger="click"
                  data-auto-close="1"
                  bs-popover>
                    Email copy to client
                </button>
                <button class="btn btn-info btn-reminder"
                  ng-disabled="!projCtrl.project.estimateSent"
                  ng-click="projCtrl.sendReminder(projCtrl.project, 'estimate')"
                  data-placement="top-right"
                  title="Reminder Sent!"
                  data-content="You have sent your client a reminder to check your estimate. Solid."
                  data-trigger="click"
                  data-auto-close="1"
                  bs-popover>
                    Send reminder
                </button>
                <button class="btn btn-danger btn-revise" ng-click="projCtrl.resetEstimate(projCtrl.project)" ng-disabled="projCtrl.project.estimateSent"
                  data-animation="am-flip-x"
                  bs-tooltip="tooltip">
                    Reset Estimate
                </button>
              </div>
              <h4>Estimate Options:</h4>
              <div class="document-options-wrapper">
                <div class="form-group form-inline">
                  <label for="ePadding">Pad estimate?</label>
                  <input ng-disabled="projCtrl.project.estimateCreated" id="ePadding" type="checkbox" ng-model="estimateinc.padding" ng-init="estimateinc.padding = true" />
                  <input class="form-inline form-control input-thin input-num"  ng-disabled="projCtrl.project.estimateCreated" ng-if="estimateinc.padding" type="number" name="ePaddingPercent" id="ePaddingPercent" ng-model="estimate.pad" ng-init="estimate.pad = .25">
                </div>
                <div class="form-group form-inline">
                  <label for="ePadding">Add all deliverables</label>
                  <input ng-click="projCtrl.addAllToEstimate(projCtrl.project)" ng-disabled="projCtrl.project.estimateCreated" type="checkbox" ng-model="estimateAll" ng-init="estimateAll = true" />
                </div>
              </div>
              <h4><b>{{ projCtrl.project.estimate.totalHrs}} / {{projCtrl.project.totalHrs}}</b> hours estimated at a cost of <b>{{  projCtrl.project.estimate.totalAmnt  | currency}} / {{projCtrl.project.estCostTotal | currency}} </b></h4>
              <div class="estimate-deliverables">
                <table class="table table-bordered table-striped table-deliverables">
                  <thead>
                    <tr>
                      <th class="complete-col">#</th>
                      <th class="desc-col">Name</th>
                      <th class="hours-col">Hours (est)</th>
                      <th class="hours-col">Cost Estimate ($)</th>
                      <th class="complete-col">Include in estimate</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-class="deliverable.inEstimate == 'yes' ? 'deliv-est' : ''" class="table-item" ng-repeat="deliverable in projCtrl.project.deliverables">
                      <td class="complete-col">{{$index + 1}}</td>
                      <td class="desc-col">{{deliverable.name}}</td>
                      <td class="hours-col form-inline"><input class="form-control input-thin input-num" ng-model="deliverable.hours" ng-blur="projCtrl.updateDeliverable(projCtrl.project, deliverable)" type="number" min="0" ng-disabled="projCtrl.project.estimateCreated == 'yes'"></td>
                      <td class="hours-col form-inline">{{deliverable.cost | currency}}</td>
                      <td class="complete-col"><input type="checkbox" tabindex="-1" ng-click="projCtrl.updateDeliverable(projCtrl.project, deliverable)" ng-model="deliverable.inEstimate" ng-true-value="'yes'" ng-disabled="projCtrl.project.estimateCreated == 'yes'" ng-false-value="'no'"></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td class="desc-col totals"><b>Totals:</b></td>
                      <td class="hours-col">{{projCtrl.project.totalHrs}} hrs</td>
                      <td class="hours-col">{{projCtrl.project.estCostTotal | currency}}</td>
                      <td class="hours-col"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <ng-include ng-if="projCtrl.project.estimateCreated == 'yes'" src="'projects/views/docs/estimate.html'"></ng-include>
            </div>
          </div>

          <div title="Invoices" bs-pane>
            <div class="document-options">
              <p ng-if="!projCtrl.project.estimateSent">You need to send an estimate to a client before you can send an invoice!</p>
              <div ng-if="projCtrl.project.estimateSent" class="docubut-wrapper">
                <button class="btn btn-success" ng-click="projCtrl.createInvoice(projCtrl.project)">
                  Create New Invoice
                </button>
              </div>
            </div>

            <div class="panel-group" data-allow-multiple="true" data-start-collapsed="true" bs-collapse>
              <div class="invoice" ng-repeat="invoice in projCtrl.project.invoices">
                <div class="panel-heading">
                  <section data-invoice-num="$index + 1">
                    <div class="invoice-header">
                      <h3>Invoice #{{$index + 1}} - <small>{{invoice.totalCost | currency}}, {{invoice.deliverables.length}} deliverables</small></h3>
                      <div class="invoice-controls">
                        <i class="fa fa-2x fa-expand" bs-collapse-toggle></i>
                        <i class="fa fa-2x fa-close" data-animation="am-fade-and-scale" data-placement="center" keyboard="true" template="projects/modals/deleteinvoice.tpl.html"bs-modal="modal"></i>
                      </div>
                      <p ng-if="invoice.sent">
                        You emailed a copy of this invoice to {{projCtrl.project.client.name}} on {{invoice.sendDate | date: 'mediumDate'}}.
                        <p ng-if="invoice.reminders.length > 0">
                          Would you like to send them a reminder?
                          <ul>
                            <li ng-repeat="reminder in invoice.reminders">
                              {{reminder.dateSent | date:'mediumDate'}}
                            </li>
                          </ul>
                        </p>
                      </p>
                      <button class="btn btn-success"
                        ng-click="projCtrl.generateInvoice(projCtrl.project, $index)"
                        ng-disabled="projCtrl.project.estimateCreated == 'no' || projCtrl.project.invoices[$index].deliverables.length < 1 || projCtrl.project.invoices[$index].invoiceGenerated">
                        Generate Invoice
                      </button>
                      <button class="btn btn-warning email-document"
                        ng-click="projCtrl.emailInvoice(projCtrl.project, $index)"
                        ng-disabled="projCtrl.project.invoices[$index].sent || !projCtrl.project.invoices[$index].invoiceGenerated"
                        data-placement="top-right"
                        title="Invoice #{{$index + 1}} emailed!"
                        data-content="A copy of the estimate you generated as been sent to your client. Cheers!"
                        data-trigger="click"
                        data-auto-close="1"
                        bs-popover>
                          Email to Client
                      </button>
                      <button class="btn btn-info btn-reminder"
                        ng-click="projCtrl.sendInvoiceReminder(projCtrl.project, $index)"
                        ng-disabled="!projCtrl.project.invoices[$index].sent"
                        data-placement="top-right"
                        title="Reminder Sent!"
                        data-content="You have sent your client a reminder to check this invoice. Solid."
                        data-trigger="click"
                        data-auto-close="1"
                        bs-popover>
                          Send Reminder
                      </button>
                      <button class="btn btn-danger btn-revise"
                        ng-click="projCtrl.resetInvoice(projCtrl.project, $index)"
                        ng-disabled="!projCtrl.project.invoices[$index].invoiceGenerated || projCtrl.project.invoices[$index].sent"
                        data-animation="am-flip-x"
                        bs-tooltip="tooltip">
                          Reset Invoice
                      </button>
                    </div>
                  </div> <!--END PANEL HEADING-->

                  <div class="panel-collapse" bs-collapse-target>
                    <div class="panel-body">
                      <table ng-if="!invoice.sent" class="table table-bordered table-striped table-deliverables">
                          <thead>
                            <tr>
                              <th class="complete-col">#</th>
                              <th class="desc-col">Name</th>
                              <th class="hours-col">Hours (real)</th>
                              <th class="hours-col">Amount ($)</th>
                              <th class="complete-col">Invoiced</th>
                              <th class="complete-col">Add</th>
                              <th class="complete-col">Remove</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-class="deliverable.invoiced == 'yes' ? 'deliv-in' : ''" class="table-item" ng-repeat="deliverable in projCtrl.project.deliverables">
                              <td class="complete-col">{{$index + 1}}</td>
                              <td class="desc-col">{{deliverable.name}}</td>
                              <td class="hours-col"><input class="form-control" min="0" ng-change="projCtrl.updateDeliverable(projCtrl.project, deliverable)" type="number" ng-model="deliverable.realHrs" ng-disabled="deliverable.invoiced == 'yes'"></td></td>
                              <td class="hours-col">{{deliverable.realCost | currency}}</td>
                              <td class="complete-col"><input type="checkbox" tabindex="-1" ng-click="projCtrl.updateDeliverable(projCtrl.project, deliverable)" ng-model="deliverable.invoiced" ng-true-value="'yes'" ng-false-value="'no'" ng-disabled="true"></td>
                              <td class="complete-col">
                                <button class="btn btn-success"
                                        ng-click="projCtrl.addDelivToInvoice(projCtrl.project, deliverable, $parent.$index)"
                                        ng-disabled="deliverable.invoiced == 'yes' || deliverable.complete =='no' || projCtrl.project.invoices[$parent.$index].invoiceSent">
                                  <i class="fa fa-plus"></i>
                                </button>
                              </td>
                              <td class="complete-col">
                                <button class="btn btn-danger" ng-click="projCtrl.removeDelivFromInvoice(projCtrl.project, deliverable, $parent.$index)" ng-disabled="deliverable.invoiced == 'no'">
                                  <i class="fa fa-minus"></i>
                                </button>
                              </td>
                            </tr>
                            <tr>
                              <td></td>
                              <td class="desc-col totals"><b>Total:</b></td>
                              <td class="hours-col">{{projCtrl.project.invoices[$parent.$index].totalHrs}} hrs</td>
                              <td class="hours-col">{{projCtrl.project.invoices[$parent.$index].totalCost | currency}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </section>

                      <div ng-if="invoice.invoiceGenerated" id="invoice-{{$index}}" class="document document-invoice">
                        <div class="invoice-wrapper">
                          <h2>Project Invoice</h2>
                          <p>Invoice no: {{$index + 1}}</p>
                          <p>Invoice issued: {{invoice.dateCreated | date:'mediumDate'}}</p>
                          <p>Project name: {{projCtrl.project.name}}</p>
                          <p>Project dates: {{projCtrl.project.startdate | date:'mediumDate'}} - {{projCtrl.project.enddate | date:'mediumDate'}}</p>
                          <div class="row">
                            <div class="col-md-9 col-sm-9">
                              <h4>Invoice for</h4>
                              <h5>{{projCtrl.project.client.name}}</h5>
                              <p>{{projCtrl.project.client.street}}</p>
                              <p>{{projCtrl.project.client.city}}, {{projCtrl.project.client.state}} {{projCtrl.project.client.zip}}</p>
                            </div>
                            <div class="col-md-3 col-sm-3">
                              <h4>Amount Due</h4>
                              {{invoice.totalCost | currency}}
                            </div>
                          </div>
                          <table class="table table-deliverables">
                            <thead>
                              <tr>
                                <th class="desc-col-invoice">Deliverable</th>
                                <th class="amnt-col-invoice">Cost</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-class="deliverable.invoiced == 'yes' ? 'deliv-in' : ''"
                                  class="table-item"
                                  ng-repeat="deliverable in projCtrl.project.invoices[$index].deliverables"
                              >
                                <td class="desc-col-invoice">{{deliverable.name}}</td>
                                <td class="amnt-col-invoice">{{deliverable.realCost | currency}}</td>

                              </tr>
                              <tr>
                                <td class="desc-col-invoice"><h4>Payment Methods</h4></td>
                                <td class="amnt-col-invoice"><h4>Total Cost</h4></td>
                              </tr>
                              <tr>
                                <td>
                                  <ol>
                                    <li>Make check payable to {{user.fullName}}</li>
                                    <li>Send a PayPal payment to {{user.email}}</li>
                                  </ol>
                                </td>
                                <td class="amnt-col-invoice"><h4><b>{{projCtrl.project.invoices[$parent.$index].totalCost | currency}}</b></h4></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div><!--END PANEL BODY-->


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
