

<input type="checkbox" id="sidebartoggler">

<div class="page-wrapper">

  <label class="toggle" for="sidebartoggler">☰</label>

  <div class="sidebar">
    <h4>Hi, {{user.displayName}}!</h4>
    <ul>
      <li><a href="/#/dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a></li>
      <li><a href="/#/clients/new"><i class="fa fa-fw fa-user-plus"></i> Add client</a></li>
      <li><a href="/#/projects/new"><i class="fa fa-fw fa-folder-open"></i> Add project</a></li>
    </ul>
    <ul>
      <li><a href="/#/clients"><i class="fa fa-fw fa-users"></i> View clients</a></li>
      <li><a href="/#/projects"><i class="fa fa-fw fa-folder"></i> View projects</a></li>
    </ul>
    <ul>
      <li><a href="/#/profile"><i class="fa fa-fw fa-user"></i> Edit profile</a></li>
    </ul>
    <ul>
      <li><a href="/#/logout"><i class="fa fa-fw fa-sign-out"></i> Sign out</a></li>
    </ul>
  </div>

  <div class="page-content">

    <div class="container-authenticated">
      <h2>Hi, {{user.displayName}}! You have {{projCtrl.projects.length}} active projects.
        <small>
          <select name="projectOrder" ng-model="projectOrder" ng-init="projectOrder = 'enddate'">
            <option ng-repeat="item in projectOrderByOptions" value="{{item.value}}">{{item.name}}</option>
          </select>
        </small>
      </h2>
      <input type="text" class="form-control project-search animated slideInDown" ng-model="projectsQuery" placeholder="Search projects">
        <div class="project-list">
          <section class="project animated" ng-class-odd="'slideInRight'" ng-class-even="'slideInLeft'" data-ng-repeat="project in projCtrl.projects | orderBy: projectOrder | filter:projectsQuery">
            <div class="row">
              <div class="col-md-9">
                <h3>{{project.name}}</h3>
                <h4><small>for &nbsp;<b><a href="" ng-click="projCtrl.viewClientDetail(project.client._id)"> <i class="fa fa-users"></i> {{project.client.name}}</b></a> - <a href="mailto:{{project.client.email}}"> {{project.client.email}}</a> - {{project.client.phone | tel}}</small></h4>
                <p><b>Estimated Cost: </b>{{project.estCostTotal | currency:undefined:0}} &nbsp; &nbsp; <b>Estimated Hrs: </b>{{project.totalHrs}} hrs</p>
                <p><b>Start Date:</b> {{project.startdate | date : format : mediumDate}} &nbsp; &nbsp;<b>Due Date:</b> {{project.enddate | date : format : mediumDate}}</p>
                <p><b>Notes:</b></p>
                <p>{{project.notes}}</p>
                <h4>Deliverables due:</h4>
                <table class="table table-deliverables">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th class="hours-col">Hours (est)</th>
                      <th class="hours-col">Hours (real)</th>
                      <th class="complete-col">Complete</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-class="deliverable.complete == 'yes' ? 'deliv-comp' : 'deliv-incomp'" class="table-item" ng-repeat="deliverable in project.deliverables | filter:{'complete':'no'} | limitTo:3">
                      <td>{{$index + 1}}</td>
                      <td>{{deliverable.name}}</td>
                      <td class="hours-col">{{deliverable.hours}}</td>
                      <td class="hours-col">{{deliverable.realHrs}}</td>
                      <td class="complete-col">{{deliverable.complete}}</td>
                    </tr>
                    <tr ng-if="project.devliverables.length > 3" class="faded-row">
                      <td>...</td>
                      <td>...</td>
                      <td>...</td>
                      <td>...</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-3 doc-stats">
                <div class="project-controls">
                  <button class="btn-fw btno btno-primary" ng-click="projCtrl.viewProjectDetail(project._id)">
                    <i class="fa fa-fw fa-clock-o"></i> Project HQ
                  </button>
                  <button class="btn-fw btno btno-primary" ng-click="projCtrl.goToDocuments(project)">
                    <i class="fa fa-fw fa-file-text-o"></i> Document Center
                  </button>
                  <button class="btn-fw btno btno-danger" data-container="body" data-animation="am-fade-and-scale" data-placement="center" keyboard="true" template="projects/modals/removeproject.tpl.html"bs-modal="modal">
                    <i class="fa fa-fw fa-close"></i> Delete Project
                  </button>
                </div>
                <h4>Documents:</h4>
                <h5>Contract: <span class="sent" ng-if="project.contractSent"><b>sent</b></span><span class="not-sent" ng-if="!project.contractSent">not sent</span> | <span class="sent" ng-if="project.contractAccepted === 'yes'"><b>accepted!</b></span></h5>
                <h5>Esimate:&nbsp; <span class="sent" ng-if="project.estimateSent"><b>sent</b></span><span class="not-sent" ng-if="!project.estimateSent">not sent</span> | <span class="sent" ng-if="project.estimateAccepted === 'yes'"><b>accepted!</b></span></h5>
                <h5>Invoices: <span class"invoices-sent">{{project.invoices.length}} sent<span></h5>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
