<input type="checkbox" id="sidebartoggler">

<div class="page-wrapper">

  <label class="toggle" for="sidebartoggler">☰</label>

  <div class="sidebar">
    <h4>Hi, {{user.displayName}}!</h4>
    <ul>
      <li><a href="/#/devflow"></a>Start a new Devflow</a></li>
    </ul>
    <ul>
      <li><a href="/#/dashboard">Dashboard</a></li>
      <li><a href="/#/clients/new">Add client</a></li>
      <li><a href="/#/projects/new">Add project</a></li>
    </ul>
    <ul>
      <li><a href="/#/calendar">View calendar</a></li>
      <li><a href="/#/clients">View clients</a></li>
      <li><a href="/#/projects">View projects</a></li>
    </ul>
    <ul>
      <li><a href="/#/profile">Edit profile</a></li>
      <li><a href="/#/map">Dev Map</a></li>
    </ul>
  </div>


  <div class="page-content">
    <div class="container-profile">
      <div class="panel panel-default">
        <div class="panel-heading">Profile</div>
        <div class="panel-body">
          <legend><i class="ion-clipboard"></i> Edit My Profile</legend>
        <form  id        =  "uploadForm"
       enctype   =  "multipart/form-data"
       action    =  "/api/photo"
       method    =  "post"
>
  <input type="file" name="userPhoto-{{user.displayName}}" />
  <input type="submit" value="Upload Image" name="submit">
</form>
          <form method="post" ng-submit="updateProfile()">
            <div class="form-group">
              <label class="control-label">Profile Picture</label>
              <img class="profile-picture" ng-src="{{user.picture || 'http://placehold.it/100x100'}}">
            </div>
            <div class="form-group">
              <label class="control-label"><i class="ion-person"></i> Display Name</label>
              <input type="text" class="form-control" ng-model="user.displayName" />
            </div>
            <div class="form-group">
              <label class="control-label"><i class="ion-person"></i> Full Name</label>
              <input type="text" class="form-control" ng-model="user.fullName" />
            </div>
            <div class="form-group">
              <label class="control-label"><i class="ion-at"></i> Email Address</label>
              <input type="email" class="form-control" ng-model="user.email" />
            </div>
            <div class="form-group">
              <label class="control-label"><i class="ion-link"></i> Website</label>
              <input type="text" class="form-control" ng-model="user.website" />
            </div>
            <div class="form-group">
              <label class="control-label"><i class="ion-link"></i> Street Address</label>
              <input type="string" class="form-control" ng-model="user.address" />
            </div>
            <div class="form-group form-inline">
              <label class="control-label"><i class="ion-link"></i>City, State, Zip</label>
              <input type="string" class="form-control" ng-model="user.city" />
              <input type="string" class="form-control" ng-model="user.state" />
              <input type="string" class="form-control" ng-model="user.zip" />
            </div>
            <div class="form-group">
              <label class="control-label"><i class="ion-phone"></i> Phone</label>
              <input type="string" class="form-control" ng-model="user.phone" />
            </div>
            <button type="submit" class="btn btn-lg btn-success">Update Information</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
