<div class="aside" tabindex="-1" role="dialog" ng-contoller="TimerController">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header">
        <button type="button" class="close" ng-click="$hide()"><i class="fa fa-close"></i></button>
        <h4 class="aside-title"><i class="fa fa-clock-o"></i> Track your time!</h4>
      </div>
      <div class="aside-body">
        <div class="form-group">
            <label for="status" class="col-sm-3 control-label">Project</label>
            <div class="col-sm-9">
              {{user.name}}
                <select class="form-control" id="status" name="status" ng-model="trackingProject">
                  <option value="{{project.name}}" ng-repeat="project in projects"></option>
                </select>
            </div>
        </div>

        <timer interval="1000">{{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer>

        <button class="btno btno-primary" ng-click="startTimer()" ng-disabled="timerRunning">Start Timer</button>
        <button class="btno btno-danger" ng-click="stopTimer()" ng-disabled="!timerRunning">Stop Timer</button>

      </div>

      <div class="aside-footer">
        <button type="button" class="btno btno-info" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>
