<div class="popover popover-tracker" ng-controller="ProjectController as projCtrl">
  <div class="arrow"></div>
  <h3 class="popover-title">Track your time
    <i class="fa fa-close pull-right" ng-click="$hide()">
        <!--       title="Good Work!"
         data-content="You just tracked some time!" data-type="success"
         data-container=".page-content"
         dismissable="true"
         bs-alert
         -->
    </i>
  </h3>
  <div class="popover-content">

    <div class="form-group">
      <label for="projectTrack" class="control-label">Project</label>
      <select ng-change="projCtrl.projectTracking(projectToTrack)"class="form-control" id="projectTrack" name="status" ng-model="projectToTrack">
        <option value="{{project}}" ng-repeat="project in projects">{{project.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="status" class="control-label">Deliverable</label>
      <select ng-change="projCtrl.setToDelivToTrack(trackingDeliverable)"class="form-control" id="status" name="status" ng-model="trackingDeliverable">
        <option value="{{deliverable}}" ng-repeat="deliverable in project.deliverables">{{deliverable.name}}</option>
      </select>
    </div>
    <div ng-controller="TimerController as timeCtrl">
      <timer interval="1000" autostart="false">{{hours}} hour{{hoursS}}, {{minutes}} minute{{minutesS}}, {{seconds}} second{{secondsS}}.</timer>
      <div class="form-group">
        <button ng-click="startTimer()" ng-disabled="timerRunning || !trackingDeliverable" class="btno btno-thin btno-primary">Start</button>
        <button ng-click="stopTimer()" ng-disabled="!timerRunning || !trackingDeliverable" class="btno btno-thin btno-danger">Stop</button>
      </div>
    </div>
  </div>
</div>
