

<input type="checkbox" id="sidebartoggler">

<div class="page-wrapper">

  <label class="toggle" for="sidebartoggler">☰</label>

  <div class="sidebar">
    <h4>Hi, {{user.displayName}}!</h4>
    <ul>
      <li><a href="/#/devflow"></a>Start a new Devflow</a></li>
    </ul>
    <ul>
      <li><a href="/#/dashboard">Dashboard</a></li>
      <li><a href="/#/clients/new">Add client</a></li>
      <li><a href="/#/projects/new">Add project</a></li>
    </ul>
    <ul>

      <li><a href="/#/clients">View clients</a></li>
      <li><a href="/#/projects">View projects</a></li>
    </ul>
    <ul>
      <li><a href="/#/profile">Edit profile</a></li>
      <li><a href="/#/developer-map">Dev Map</a></li>
    </ul>
  </div>


  <div class="page-content">
    <div class="container-authenticated">
      <h2>Dashboard - {{dashCtrl.projects.length}} projects</h2>
      <div class="row">

        <div class="col-md-4 col-sm-4 chart">
          <h3>Deliverables Snapshot</h3>
          <div class="chart-wrapper">
            <canvas id="doughnut"
              class="chart chart-doughnut"
              data="dashCtrl.doughnutStats"
              labels="dashCtrl.doughnutLabels"
              legend="true">
            </canvas>
            <canvas id="line"
                    class="chart chart-line"
                    data="data"
                    labels="labels"
                    legend="true"
                    series="series">
            </canvas>
          </div>
        </div>
        <div class="col-md-8 col-sm-8 chart">
          <h3>Project Velocity</h3>
          <div class="chart-wrapper">
            <canvas id="bar"
              class="chart chart-bar"
              data="dashCtrl.velocityStats"
              labels="dashCtrl.velocityLabels"
              series="dashCtrl.velocitySeries"
              legend="true">
            </canvas>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-md-6">
          <h3>Some title</h3>
          <div class="chart-wrapper">

          </div>
        </div>

        <div class="col-md-6">
          <h3>Some title</h3>
          <div class="chart-wrapper">
            <canvas id="polar-area"
                    class="chart chart-polar-area"
                    data="dashCtrl.glanceData"
                    labels="dashCtrl.glanceLabels">
            </canvas>
          </div>
        </div>

      </div>
    </diV>
  </div>
</div>
