

<input type="checkbox" id="sidebartoggler">

<div class="page-wrapper">

  <label class="toggle" for="sidebartoggler">☰</label>

  <div class="sidebar">
    <h4>Hi, {{user.displayName}}!</h4>
    <ul>
      <li><a href="/#/dashboard">Dashboard</a></li>
      <li><a href="/#/clients/new">Add client</a></li>
      <li><a href="/#/projects/new">Add project</a></li>
    </ul>
    <ul>

      <li><a href="/#/clients">View clients</a></li>
      <li><a href="/#/projects">View projects</a></li>
    </ul>
    <ul>
      <li><a href="/#/profile">Edit profile</a></li>
      <li><a href="/#/developer-map">Dev Map</a></li>
    </ul>
  </div>


  <div class="page-content">
    <div class="container-authenticated">
      <h2>Dashboard</h2>
      <div class="row">

        <div class="col-md-4 col-sm-4 chart">
          <h3>Deliverables</h3>
          <div class="chart-wrapper donut-chart">
            <h4>You have a total of {{dashCtrl.totalDelivDollars | currency:undefined:0}} in deliverables on your desk with {{dashCtrl.totalDelivsPaid | currency:undefined:0}} paid.</h4>
            <canvas id="doughnut"
              class="chart chart-doughnut"
              data="dashCtrl.doughnutStats"
              labels="dashCtrl.doughnutLabels"
              legend="true">
            </canvas>

          </div>
        </div>
        <div class="col-md-8 col-sm-8 chart">
          <h3>Project Velocity</h3>
          <div class="chart-wrapper velocity-chart">
            <canvas id="bar"
              class="chart chart-bar"
              data="dashCtrl.velocityStats"
              labels="dashCtrl.velocityLabels"
              series="dashCtrl.velocitySeries"
              legend="true">
            </canvas>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-md-8">
          <h3>Week at a Glance</h3>
          <div class="chart-wrapper">
            <canvas id="polar-area"
                    class="chart chart-polar-area"
                    data="dashCtrl.weekData"
                    labels="dashCtrl.glanceLabels"
                    legend="true">
            </canvas>
          </div>
        </div>

        <div class="col-md-4">
          <h3>Month at a Glance</h3>
          <div class="chart-wrapper">
            <canvas id="polar-area"
                    class="chart chart-polar-area"
                    data="dashCtrl.monthData"
                    labels="dashCtrl.glanceLabels"
                    legend="true">
            </canvas>
          </div>
        </div>

      </div>
    </diV>
  </div>
</div>
