@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300|Raleway:400,900,800);
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  height: 2000px;
  position: relative; }

a:hover {
  text-decoration: none; }
a:focus {
  text-decoration: none;
  color: #FEFEFA;
  outline: none; }

.font-main {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.font-header, body, nav li a {
  font-family: "Raleway", sans-serif;
  font-weight: 800; }

body {
  font-weight: 400; }

nav {
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0);
  z-index: 100;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  nav .logo {
    float: left;
    margin-left: 10%;
    color: #FEFEFA;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    nav .logo a:visited {
      color: #FEFEFA; }
  nav ul {
    width: 50%;
    margin: 0 auto;
    text-align: right;
    float: right;
    margin-top: 30px;
    margin-right: 40px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  nav li {
    vertical-align: middle;
    display: inline-block;
    width: 19%;
    text-align: center;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    nav li a {
      text-transform: lowercase;
      font-weight: 400;
      font-size: 24px;
      display: inline-block;
      color: #FEFEFA;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      nav li a:hover {
        color: #FEFEFA; }
    nav li a:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -4px;
      left: 0;
      background-color: #FEFEFA;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    nav li a:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }

.fixednav {
  background-color: rgba(255, 255, 255, 0.95);
  height: 60px; }
  .fixednav span.logo {
    color: #343434; }
    .fixednav span.logo a:visited {
      color: #343434; }
    .fixednav span.logo h1 {
      margin-top: 10px; }
  .fixednav ul {
    margin-top: 20px; }
  .fixednav li {
    margin-bottom: 20px; }
    .fixednav li a {
      color: #343434;
      font-size: 16px; }
      .fixednav li a:hover {
        color: #343434; }
  .fixednav a:before {
    background-color: #343434;
    height: 1px; }

.footer {
  position: absolute;
  bottom: 0;
  height: 20px;
  background-color: #343434;
  color: #FEFEFA;
  width: 100%;
  height: 200px;
  text-align: center; }

.but {
  position: relative;
  font-size: 24px;
  box-sizing: border-box;
  cursor: pointer;
  padding: 10px;
  border: thin solid #E5E4E2;
  border-radius: 4px;
  width: 160px;
  margin: 0 auto;
  margin-bottom: 20px;
  transition: all .3s ease; }

.btn-home::after {
  transition: all .3s ease;
  position: absolute;
  top: 0px;
  right: 20px;
  font-size: 36px;
  content: "→";
  opacity: 0; }
.btn-home:hover {
  background-color: #03ac97;
  border-color: transparent;
  color: white; }
  .btn-home:hover::after {
    opacity: 1;
    color: white;
    right: 6px; }

.btn-about {
  display: inline-block; }
  .btn-about::before {
    -webkit-transition: all .3s ease;
    position: absolute;
    background-color: #FEFEFA;
    content: "";
    z-index: -1000; }
  .btn-about:hover {
    color: #FEFEFA; }

.btn-up:before {
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0; }
.btn-up:hover {
  color: #FEFEFA; }
  .btn-up:hover::before {
    top: 0; }

.btn-down:before {
  bottom: 100%;
  top: 0;
  left: 0;
  right: 0; }
.btn-down:hover {
  color: #FEFEFA; }
  .btn-down:hover::before {
    bottom: 0; }

.btn-right:before {
  bottom: 0;
  top: 0;
  left: 0;
  right: 100%; }
.btn-right:hover {
  color: #FEFEFA; }
  .btn-right:hover::before {
    right: 0; }

.btn-left:before {
  bottom: 0;
  top: 0;
  left: 100%;
  right: 0; }
.btn-left:hover {
  color: #FEFEFA; }
  .btn-left:hover::before {
    left: 0; }

.btn-contact {
  display: inline-block;
  height: 60px; }
  .btn-contact:hover {
    background-color: white;
    border-color: white; }
  .btn-contact:before, .btn-contact:after {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.btn-contact-horz:before {
  content: "holler";
  left: -50%;
  opacity: 0; }
.btn-contact-horz:after {
  content: "contact";
  left: 0; }
.btn-contact-horz:hover:before {
  left: 0;
  opacity: 1; }
.btn-contact-horz:hover:after {
  left: -50%;
  opacity: 0; }

.btn-contact-vert:before {
  left: 0;
  content: "about";
  top: 10px; }
.btn-contact-vert:after {
  left: 0;
  top: -50%;
  opacity: 0;
  content: "info"; }
.btn-contact-vert:hover:before {
  top: -50%;
  opacity: 0; }
.btn-contact-vert:hover:after {
  top: 10px;
  opacity: 1; }

.btn-portfolio:after {
  content: "→";
  opacity: 0;
  position: absolute;
  top: 12px;
  right: 10px;
  -webkit-transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }
.btn-portfolio:hover {
  border-color: transparent; }
  .btn-portfolio:hover:after {
    opacity: 1;
    right: 3px; }

.header-image {
  background-image: url("../images/devdesk.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  height: 100vh;
  width: 100%;
  position: relative; }
  .header-image .caption {
    margin: 0 auto;
    padding-top: 30vh;
    color: white;
    text-align: center;
    width: 50%;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6); }
    .header-image .caption h1, .header-image .caption h3 {
      margin-bottom: 20px; }

.container-features {
  text-align: center; }
  .container-features h2 {
    margin-top: 80px; }

.feature-list {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 80px;
  margin-bottom: 80px; }
  .feature-list .feature {
    text-align: center; }
    .feature-list .feature i.fa {
      margin-bottom: 40px; }
    .feature-list .feature .feature-text {
      text-align: left; }

.cta-marketing {
  height: 50vh;
  background-color: #343434; }

/*# sourceMappingURL=compiled.css.map */
