@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300|Raleway:400,900,800);
* {
  box-sizing: border-box; }

html {
  -webkit-font-smoothing: antialiased; }

body {
  margin: 0;
  padding: 0;
  position: relative; }

a {
  color: #343434; }
  a:hover {
    color: #343434;
    text-decoration: none; }
  a:focus {
    color: #343434;
    text-decoration: none; }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }

.font-main {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.font-header, body, nav li a {
  font-family: "Raleway", sans-serif;
  font-weight: 800; }

body {
  font-weight: 400; }

.but {
  position: relative;
  font-size: 24px;
  box-sizing: border-box;
  cursor: pointer;
  padding: 10px;
  border: thin solid #E5E4E2;
  border-radius: 4px;
  width: 160px;
  margin: 0 auto;
  margin-bottom: 20px;
  transition: all .3s ease; }

.btn-home::after {
  transition: all .3s ease;
  position: absolute;
  top: 0px;
  right: 20px;
  font-size: 36px;
  content: "→";
  opacity: 0; }
.btn-home:hover {
  background-color: #03ac97;
  border-color: transparent;
  color: white; }
  .btn-home:hover::after {
    opacity: 1;
    color: white;
    right: 6px; }

.btn-about {
  display: inline-block; }
  .btn-about::before {
    -webkit-transition: all .3s ease;
    position: absolute;
    background-color: #FEFEFA;
    content: "";
    z-index: -1000; }
  .btn-about:hover {
    color: #FEFEFA; }

.btn-up:before {
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0; }
.btn-up:hover {
  color: #FEFEFA; }
  .btn-up:hover::before {
    top: 0; }

.btn-down:before {
  bottom: 100%;
  top: 0;
  left: 0;
  right: 0; }
.btn-down:hover {
  color: #FEFEFA; }
  .btn-down:hover::before {
    bottom: 0; }

.btn-right:before {
  bottom: 0;
  top: 0;
  left: 0;
  right: 100%; }
.btn-right:hover {
  color: #FEFEFA; }
  .btn-right:hover::before {
    right: 0; }

.btn-left:before {
  bottom: 0;
  top: 0;
  left: 100%;
  right: 0; }
.btn-left:hover {
  color: #FEFEFA; }
  .btn-left:hover::before {
    left: 0; }

.btn-contact {
  display: inline-block;
  height: 60px; }
  .btn-contact:hover {
    background-color: white;
    border-color: white; }
  .btn-contact:before, .btn-contact:after {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.btn-contact-horz:before {
  content: "holler";
  left: -50%;
  opacity: 0; }
.btn-contact-horz:after {
  content: "contact";
  left: 0; }
.btn-contact-horz:hover:before {
  left: 0;
  opacity: 1; }
.btn-contact-horz:hover:after {
  left: -50%;
  opacity: 0; }

.btn-contact-vert:before {
  left: 0;
  content: "about";
  top: 10px; }
.btn-contact-vert:after {
  left: 0;
  top: -50%;
  opacity: 0;
  content: "info"; }
.btn-contact-vert:hover:before {
  top: -50%;
  opacity: 0; }
.btn-contact-vert:hover:after {
  top: 10px;
  opacity: 1; }

.btn-portfolio:after {
  content: "→";
  opacity: 0;
  position: absolute;
  top: 12px;
  right: 10px;
  -webkit-transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }
.btn-portfolio:hover {
  border-color: transparent; }
  .btn-portfolio:hover:after {
    opacity: 1;
    right: 3px; }

button.btn {
  font-size: 13px; }

nav {
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0);
  z-index: 100;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  nav span.logo {
    float: left;
    margin-left: 10%;
    color: #343434;
    cursor: pointer; }
    nav span.logo h2 {
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    nav span.logo a:visited {
      color: #343434; }
  nav ul {
    width: 50%;
    margin: 0 auto;
    text-align: right;
    float: right;
    margin-top: 20px;
    margin-right: 40px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  nav li {
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    position: relative;
    margin-right: 10%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    nav li:last-child {
      margin-right: 0; }
    nav li a {
      text-transform: lowercase;
      font-weight: 400;
      font-size: 16px;
      display: inline-block;
      color: #343434;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      nav li a:hover {
        color: #343434; }
      nav li a:focus {
        text-decoration: none;
        color: #343434;
        outline: none; }
    nav li a:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -4px;
      left: 0;
      background-color: #343434;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    nav li a:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }

.fixednav {
  background-color: rgba(255, 255, 255, 0.95);
  height: 60px;
  box-shadow: 0px 4px 0px rgba(52, 52, 52, 0.2); }
  .fixednav span.logo h2 {
    padding-bottom: 10px;
    font-size: 24px; }
  .fixednav ul {
    margin-top: 20px; }
  .fixednav li {
    margin-bottom: 20px; }
    .fixednav li a {
      color: #343434;
      font-size: 14px; }
      .fixednav li a:hover {
        color: #343434; }
  .fixednav a:before {
    background-color: #343434;
    height: 1px; }

.page-content {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  z-index: 0;
  margin: 0 auto;
  color: #333; }
  .page-content h1 {
    font-weight: 400; }
  .page-content h1, .page-content h3, .page-content h4 {
    text-align: left; }
  .page-content h3, .page-content h4 {
    color: gray; }
  .page-content p {
    text-align: left; }
  .page-content img {
    max-width: 100%;
    max-height: 400px;
    margin-top: 20px;
    margin-bottom: 20px; }

.toggle {
  position: fixed;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 20px;
  transition: all .5s ease;
  z-index: 100;
  font-size: 30px;
  color: black;
  width: 30px;
  height: 30px;
  cursor: pointer; }
  .toggle:hover {
    color: #29D4E8; }

.sidebar {
  transition: all .5s ease;
  position: fixed;
  top: 0px;
  right: 0;
  bottom: 0px;
  left: -240px;
  width: 240px;
  padding: 30px;
  background: #333;
  color: white;
  z-index: 100; }
  .sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #4e4e4e; }
  .sidebar li {
    text-transform: uppercase;
    opacity: .5;
    cursor: pointer;
    color: gray; }
    .sidebar li:hover {
      opacity: 1; }
    .sidebar li a {
      color: gray;
      transition: all .3s ease-in; }
      .sidebar li a:hover {
        color: #29D4E8; }

#sidebartoggler {
  display: none; }
  #sidebartoggler:checked + .page-wrapper .sidebar {
    left: 0px; }
  #sidebartoggler:checked + .page-wrapper .toggle {
    left: 260px; }

.footer {
  background-color: #343434;
  color: #FEFEFA;
  width: 100%;
  height: 200px;
  padding: 40px;
  margin-top: 20px; }

.header-image {
  background-image: url("../images/devdesk.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  height: 100vh;
  width: 100%;
  position: relative; }
  .header-image .caption {
    margin: 0 auto;
    padding-top: 30vh;
    color: white;
    text-align: center;
    width: 50%;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6); }
    .header-image .caption h1, .header-image .caption h3 {
      margin-bottom: 20px; }

.container-features {
  text-align: center; }
  .container-features h2 {
    margin-top: 80px; }

.feature-list {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 80px;
  margin-bottom: 80px; }
  .feature-list .feature {
    text-align: center; }
    .feature-list .feature i.fa {
      margin-bottom: 40px; }
    .feature-list .feature .feature-text {
      text-align: left; }

.cta-marketing {
  height: 50vh;
  background-color: #343434; }

.container-auth {
  padding-top: 120px;
  width: 50%; }

.alert-material {
  position: fixed;
  right: 12px;
  bottom: 12px;
  z-index: 1;
  display: inline-block;
  min-height: 48px;
  padding: 13px 24px 12px;
  font-family: 'Roboto', sans-serif;
  color: #f1f1f1;
  cursor: default;
  background: #323232;
  border-radius: 2px;
  outline: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.container-profile {
  padding-top: 120px;
  width: 75%;
  margin: 0 auto; }

.container-dashboard {
  padding-top: 120px;
  width: 80%;
  margin: 0 auto; }
  .container-dashboard h2 {
    text-align: left; }
  .container-dashboard .row {
    margin-left: 0px;
    margin-right: 0px; }

.container-authenticated {
  padding-top: 80px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 160px;
  position: relative; }
  .container-authenticated i.fa {
    color: black;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: .5; }
    .container-authenticated i.fa:hover {
      transform: scale(1.5);
      opacity: 1; }
  .container-authenticated .fa-close:hover {
    color: #962D3E; }
  .container-authenticated .fa-th-large:hover {
    color: #29D4E8; }
  .container-authenticated textarea {
    resize: none; }

.container-addclient {
  width: 75%; }

.client {
  border: thin solid #343434;
  padding: 20px;
  min-height: 400px; }

.client-new {
  width: 760px;
  padding: 40px;
  border: thin solid #343434;
  box-shadow: 4px 4px 20px rgba(52, 52, 52, 0.3);
  margin: 0 auto; }

.project {
  padding: 40px;
  border: thin solid #343434;
  border-radius: 4px;
  position: relative;
  margin-bottom: 40px; }
  .project h3 {
    margin-top: 10px;
    color: #343434; }
    .project h3 small {
      color: gray; }

.project-controls {
  position: absolute;
  right: 40px;
  top: 20px; }
  .project-controls i.fa:first-child {
    margin-right: 10px; }

td {
  transition: all .5s ease; }

.deliv-comp > td {
  background-color: #b3ffb3; }

.complete-col, .hours-col {
  text-align: center; }
  .complete-col input, .hours-col input {
    width: 60px; }

.desc-col {
  width: 40%; }

.project-search {
  position: absolute;
  top: 100px;
  right: 0px;
  width: 200px; }

.sent {
  color: green; }

.not-sent {
  color: red; }

.project-new {
  width: 760px;
  padding: 40px;
  border: thin solid #343434;
  box-shadow: 4px 4px 20px rgba(52, 52, 52, 0.3); }

.form-control input:first-child {
  width: 40%; }
.form-control input {
  width: 15%; }

.datepicker.dropdown-menu {
  width: 250px;
  height: 250px; }
  .datepicker.dropdown-menu button {
    outline: none;
    border: 0px; }
  .datepicker.dropdown-menu tbody {
    height: 180px; }
  .datepicker.dropdown-menu tbody button {
    padding: 6px; }
  .datepicker.dropdown-menu.datepicker-mode-1 tbody button, .datepicker.dropdown-menu.datepicker-mode-2 tbody button {
    height: 65px;
    background-color: white; }

.container-calendar {
  padding-top: 120px;
  width: 80%;
  margin: 0 auto; }

.document {
  width: 600px;
  border: thin solid #4d4d4d;
  border-radius: 2px;
  padding: 60px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 8px 8px 20px rgba(77, 77, 77, 0.2); }
  .document ul {
    padding-left: 40px;
    list-style-type: circle; }
    .document ul li {
      margin-bottom: 10px; }
  .document h3, .document h4 {
    font-weight: bold; }
  .document h4 {
    color: #4d4d4d; }

.contract-wrapper h5 {
  font-weight: bold; }

.docoptions-wrapper {
  border-radius: 4px;
  padding: 40px;
  padding-top: 0px; }
  .docoptions-wrapper .form-group {
    display: inline-block;
    vertical-align: middle;
    width: 24%;
    margin-bottom: 2px; }
  .docoptions-wrapper label {
    width: 80%; }

.options-contract,
.options-estimate {
  position: relative;
  padding-top: 10px; }
  .options-contract .docubut-wrapper,
  .options-estimate .docubut-wrapper {
    position: absolute;
    top: 10px;
    right: 0px; }

.tab-pane.am-fade {
  animation-duration: .3s;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
  opacity: 1; }

.tab-pane.am-fade.active-remove {
  display: none !important; }

.tab-pane.am-fade.active-add {
  animation-name: fadeIn; }

.nav-tabs > li > a {
  cursor: pointer; }

/*# sourceMappingURL=compiled.css.map */
